header {
  text-align: center;
  font-size: 2.0rem;
}
body {
  background: #d8dee3;
  color: #1e293b;
  padding: 2rem;
  line-height: 1.7;
}

h2 {
  color: #313392;
  font-size: 2.0rem;
  letter-spacing: 2.0px;
  text-align: center;
  
}

.problem-domain {
  max-width: 750px;
  margin: 3rem auto;
  background: #ffffff;
  border-radius: 14px;
  padding: 2rem;
  border-left: 6px solid #6c6ed6; 
}
.app-description {
  max-width: 750px;
  margin: 3rem auto;
  background: #ffffff;
  border-radius: 14px;
  padding: 2rem;
  border-left: 6px solid #6c6ed6; 
}

.research-links {
  max-width: 750px;
  margin: 3rem auto;
  background: #ffffff;
  border-radius: 14px;
  padding: 2rem;
  border-left: 6px solid #6c6ed6; 
}

